.wall {
    background: linear-gradient(rgb(230, 100, 101), #9198e5);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 80vw;
    height: 80vh;
    text-align: center;
    margin: 10vh 10vw;
    border-radius: 5px;
  }

  .intro {
    margin-top: 30vh;
    font-size: 10vh;
}